
.square{
    width: 100px;
    height: 100px; 
}
#blue{
    background-color:blue;
   
}
#div-aqua{
    background-color: aqua;
    
}
#black{
    background-color: black;
    
}
.row1{
    display:flex;

}
#pink{
    background-color: pink;
    
}
#red{
    background-color: red;
    
}
#green{
    background-color: green;
    
}


#yellow{
    background-color: yellow;
    
}
#dark-pink{
    background-color: darkorchid;
   
}
#dark-red{
    background-color: darkred;
   
}
